<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.moodtracker.mapper.ImagesMapper">

    <!-- dailyInfoMap를 매핑하는 ResultMap -->
    <resultMap id="dailyInfoMap" type="kr.co.moodtracker.vo.DailyInfoVO">
        <id column="daily_id" property="dailyId"/>
        <result column="date" property="date"/>
        <!-- List<CustomVO> 매핑 -->
        <collection property="imageList" ofType="kr.co.moodtracker.vo.ImageVO">
	        <id column="image_id" property="imageId"/>
	        <result column="image_path" property="imagePath"/>
        </collection>
    </resultMap>
    
	<select id="getImageInfoList" parameterType="kr.co.moodtracker.vo.SearchDailyInfoVO"
									resultMap="dailyInfoMap">
		SELECT I.image_id 
			,DS.daily_id
			,I.image_path
			,DS.`date`
		FROM (
			SELECT daily_id
				,DATE_FORMAT(`date`, '%Y-%m-%d') as `date`
			FROM dailies
			WHERE user_id = #{userId}
			<choose>
				<when test='startDate != null and !startDate.equals("")
						and endDate != null and !endDate.equals("")'>
					AND `date` <![CDATA[ >= ]]> #{startDate}
					AND `date` <![CDATA[ <= ]]> #{endDate}
				</when>
				<when test='ids != null and ids.size != 0'>
					AND daily_id IN
					<foreach collection="ids" item="id" 
							open="(" separator="," close=")">
						#{id}
					</foreach>
				</when>
				<otherwise>
					AND null
				</otherwise>
			</choose>
			<if test='startDate != null and !startDate.equals("")'>
				AND `date` <![CDATA[ >= ]]> #{startDate}
			</if>
			<if test='endDate != null and !endDate.equals("")'>
				AND `date` <![CDATA[ <= ]]> #{endDate}
			</if>
			<if test="ids != null and ids.size != 0">
				AND daily_id IN
				<foreach collection="ids" item="id" 
						open="(" separator="," close=")">
					#{id}
				</foreach>
			</if>
		) AS DS LEFT JOIN images AS I ON DS.daily_id = I.daily_id
		ORDER BY DS.`date`, I.image_id ASC
	</select>
	
	
	<insert id="postImage" parameterType="kr.co.moodtracker.vo.SearchDailyInfoVO">
		INSERT INTO images (
			daily_id
			,user_id
			,image_path
		) VALUES 
		<foreach collection="imageList" item="item" separator=",">
		(
			#{dailyId}
		    ,#{userId}
		    ,#{item.imagePath}
		)			
		</foreach>
	</insert>
	
	<update id="putImage" parameterType="kr.co.moodtracker.vo.SearchDailyInfoVO">
		<foreach collection="imageList" item="item" separator=";">
		UPDATE images
		SET image_path = <choose>
			<when test="item.imagePath == null || item.imagePath == ''">
				null
			</when>
			<otherwise>
				#{item.imagePath}
			</otherwise>
		</choose>
		WHERE image_Id = #{item.imageId}
		AND user_id = #{userId}
		</foreach>
	</update>
	
	<delete id="deleteAllImage" parameterType="kr.co.moodtracker.vo.SearchDailyInfoVO">
		DELETE FROM images
		WHERE image_id = #{dailyId}
		AND user_id = #{userId}
	</delete>
	
	<update id="deleteImage" parameterType="kr.co.moodtracker.vo.SearchDailyInfoVO">
		<foreach collection="imageList" item="item" separator=";">
		UPDATE images
		SET image_path = null
		WHERE image_id = #{item.imageId}
		AND user_id = #{userId}
		</foreach>
	</update>

</mapper>