<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.moodtracker.mapper.MoodsMapper">
	
	<insert id="postMood" parameterType="kr.co.moodtracker.vo.DailyInfoVO"
			useGeneratedKeys="true" keyProperty="moodId">
		INSERT INTO moods (
			user_id
			,mood_level
		) VALUES (
		    #{userId}
		    ,#{moodLevel}
		)
	</insert>
	
	<update id="putMood" parameterType="kr.co.moodtracker.vo.DailyInfoVO">
		UPDATE moods
		SET mood_level = #{moodLevel}
		WHERE mood_id = #{moodId}
		AND user_id = #{userId}
	</update>
	
	<delete id="deleteMood" parameterType="kr.co.moodtracker.vo.DailyInfoVO">
		DELETE FROM moods
		WHERE mood_id = #{moodId}
		AND user_id = #{userId}
	</delete>

</mapper>