<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.moodtracker.mapper.NeighborMapper">
	
	<select id="getNeighbors" parameterType="int" 
							  resultType="kr.co.moodtracker.vo.NeighborVO">
		SELECT UP.nickname
			,UP.image_path
		    ,UP.`description`
		    ,N.neighbor_id
		    ,N.requester
		    ,N.synchronize
		    ,N.accept_chat
		    ,N.external_access
		FROM (
			SELECT neighbor_id
				,guest_profile_id
		        ,requester
		        ,synchronize
				,accept_chat
				,external_access
			FROM neighbor
			WHERE host_profile_id = (
				SELECT user_profile_id
				FROM user_profile
				WHERE user_id = #{userId}
			)
		) AS N LEFT JOIN user_profile AS UP
			ON N.guest_profile_id = UP.user_profile_id
	</select>
	
	<insert id="postNeighbor" parameterType="kr.co.moodtracker.vo.SearchNeighborVO">
		<selectKey keyProperty="hostProfileId" resultType="int" order="BEFORE">
			SELECT user_profile_id
			FROM user_profile
			WHERE user_id = #{userId}
		</selectKey>
		INSERT INTO neighbor (
			host_profile_id
		    , guest_profile_id
		    , requester
		    , synchronize
		    , accept_chat
		    , external_access
		) VALUES (
			<!-- 팔로우를 요청한 사람 -->
			#{hostProfileId}
		    , #{guestProfileId}
		    , 'Y'
		    , 'N'
		    , 'Y'
		    , 'Y'
		), (
			<!-- 팔로우를 요청받은 사람 -->
			#{guestProfileId}
		    , #{hostProfileId}
		    , 'N'
		    , 'N'
		    , 'N'
		    , 'N'
		)
	</insert>
	
	<select id="getGuestProfileId" parameterType="kr.co.moodtracker.vo.SearchNeighborVO"
									resultType="int">
		SELECT guest_profile_id
		FROM neighbor
		WHERE host_profile_id = (
			SELECT user_profile_id
			FROM user_profile
			WHERE user_id = #{userId}
		)
		AND neighbor_id = #{neighborId}
	</select>
	
	<update id="setHostSynchronize" parameterType="kr.co.moodtracker.vo.SearchNeighborVO">
		UPDATE neighbor
		SET synchronize = #{synchronize}
			,updated_at = NOW()
		WHERE host_profile_id = (
			SELECT user_profile_id
			FROM user_profile
			WHERE user_id = #{userId}
		)
		AND guest_profile_id = #{guestProfileId}
	</update>
	<update id="setGuestSynchronize" parameterType="kr.co.moodtracker.vo.SearchNeighborVO">
		UPDATE neighbor
		SET synchronize = #{synchronize}
			,updated_at = NOW()
		WHERE guest_profile_id = (
			SELECT user_profile_id
			FROM user_profile
			WHERE user_id = #{userId}
		)
		AND host_profile_id = #{guestProfileId}
	</update>
	
	
	<update id="patchNeighbor" parameterType="kr.co.moodtracker.vo.SearchNeighborVO">
		UPDATE neighbor
		<!-- 'Y' or 'N'-->
		SET <choose>
				 <when test='acceptChat != null and !acceptChat.equals("")
				 		 and externalAccess != null and !externalAccess.equals("")'>
					accept_chat = #{acceptChat}
					, external_access = #{externalAccess} 
				 </when>
				<when test='acceptChat != null and !acceptChat.equals("")'>
					accept_chat = #{acceptChat}
				</when>
				<when test='externalAccess != null and !externalAccess.equals("")'>
					external_access = #{externalAccess}
				</when>
				<otherwise></otherwise>
			</choose>
			, updated_at = NOW()
		WHERE host_profile_id = (
			SELECT user_profile_id
			FROM user_profile
			WHERE user_id = #{userId}
		)
	</update>


	<delete id="deleteHostNeighbor" parameterType="kr.co.moodtracker.vo.SearchNeighborVO">
		DELETE FROM neighbor
		WHERE host_profile_id = (
			SELECT user_profile_id
			FROM user_profile
			WHERE user_id = #{userId}
		)
		AND guest_profile_id = #{guestProfileId}
	</delete>
	<delete id="deleteGuestNeighbor" parameterType="kr.co.moodtracker.vo.SearchNeighborVO">
		DELETE FROM neighbor
		WHERE guest_profile_id = (
			SELECT user_profile_id
			FROM user_profile
			WHERE user_id = #{userId}
		)
		AND host_profile_id = #{guestProfileId}
	</delete>
	
	<select id="getNeighborUserId" parameterType="kr.co.moodtracker.vo.SearchNeighborVO"
								resultType="Integer">
		SELECT UP.user_id
		FROM (
			SELECT guest_profile_id
			FROM neighbor
			WHERE host_profile_id = (
				SELECT user_profile_id
				FROM user_profile
				WHERE user_id = #{userId}
		    )
		    AND neighbor_id = #{neighborId}
		    AND synchronize = 'Y'
		    AND external_access = 'Y'
		) AS N LEFT JOIN user_profile AS UP 
		  ON N.guest_profile_id = UP.user_profile_id
		WHERE sharing_calendar = 'Y'
	</select>
	
	<select id="getGroupProfileId" parameterType="Long" resultType="HashMap">
		SELECT host_profile_id
			, guest_profile_id
		FROM neighbor
		WHERE neighbor_id = #{neighborId}
	</select>

</mapper>