<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.moodtracker.mapper.NotesMapper">
	
	<insert id="postNote" parameterType="kr.co.moodtracker.vo.SearchDailyInfoVO"
			useGeneratedKeys="true" keyProperty="noteId">
		INSERT INTO notes (
			user_id
			,note_title
			,note_content
		) VALUES (
			#{userId}
		    ,#{noteTitle}
		    ,#{noteContent}
		)
	</insert>
	
	<update id="putNote" parameterType="kr.co.moodtracker.vo.SearchDailyInfoVO">
		UPDATE notes
		SET
			note_title = #{noteTitle}
			, note_content = #{noteContent}
		WHERE note_id = #{noteId}
		AND user_id = #{userId}
	</update>
	
	<update id="patchNote" parameterType="kr.co.moodtracker.vo.SearchDailyInfoVO">
		UPDATE notes
		<trim prefix="SET" prefixOverrides=",">
			<if test='noteTitle != null'>note_title = #{noteTitle}</if>
			<if test='noteContent != null'>,note_content = #{noteContent}</if>			
		</trim>
		WHERE note_id = #{noteId}
		AND user_id = #{userId}
	</update>
	
	<delete id="deleteNote" parameterType="kr.co.moodtracker.vo.SearchDailyInfoVO">
		DELETE FROM notes
		WHERE note_id = #{noteId} 
		AND user_id = #{userId}
	</delete>

</mapper>