<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.moodtracker.mapper.UsersMapper">
	
	<select id="getUser" parameterType="hashMap" resultType="kr.co.moodtracker.vo.UserVO">
		SELECT user_id
			,username
			,email
		FROM users
		WHERE 1=1
		AND	username = #{username}
		AND password_hash = #{password}
	</select>
	
	<insert id="postUser" parameterType="kr.co.moodtracker.vo.UserVO"
			useGeneratedKeys="true" keyProperty="userId">
		INSERT users (
			username, password_hash, email 
		) VALUES ( 
			#{username}, #{password}, #{email} 
		)
	</insert>
	
	<insert id="postUserProfile" parameterType="kr.co.moodtracker.vo.UserVO">
		INSERT user_profile (
			user_id, nickname, image_path, `description`
		) VALUES ( 
			#{userId}, #{nickname}, null, "" 
		)
	</insert>
	
	<select id="getUserProfile" parameterType="int" resultType="kr.co.moodtracker.vo.ProfileVO">
		SELECT user_profile_id
		    ,nickname
		    ,image_path
		    ,`description`
		    ,session_status
		    ,sharing_calendar
		FROM user_profile
		WHERE user_id = #{userId}
	</select>
	
	<update id="patchUserProfile" parameterType="kr.co.moodtracker.vo.UserVO">
		UPDATE user_profile
		SET `description` = #{description}
			,session_status = #{sessionStatus}
		    ,sharing_calendar = #{sharingCalendar}
		WHERE user_id = #{userId}
	</update>
	
	<update id="putUserProfileImage" parameterType="kr.co.moodtracker.vo.UserVO">
		UPDATE user_profile
		SET image_path = #{imagePath}
		WHERE user_id = #{userId}
	</update>
	
	<select id="getUserProfileId" parameterType="String" resultType="int">
		SELECT user_profile_id
		FROM user_profile
		WHERE nickname = #{nickname}
	</select>

</mapper>