<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.moodtracker.mapper.DailiesMapper">
	
	<select id="getDailyEntryOfTheMonth" parameterType="kr.co.moodtracker.vo.DailyEntryVO"
							 			 resultType="kr.co.moodtracker.vo.DailyEntryVO">
		SELECT DS.daily_id
			,DS.note_id
		    ,DS.mood_id
		    ,DS.`date`
		    ,NS.note_title
		    ,NS.note_content
		    ,MS.mood_level
		    ,M.`description`
		from (
			select daily_id
				,note_id
				,mood_id
		        ,DATE_FORMAT(`date`, '%Y-%m-%d') as `date`
			from dailies
			where user_id = 1
		) AS DS LEFT JOIN notes AS NS ON DS.note_id = NS.note_id
		LEFT JOIN moods AS MS ON DS.mood_id = MS.mood_id
		LEFT JOIN mood AS M ON MS.mood_level = M.`level` 
	</select>
	
	<insert id="postDaily" parameterType="kr.co.moodtracker.vo.DailyEntryVO">
		
	</insert>

</mapper>